<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="../pickadate/lib/themes/classic.css">
  <link rel="stylesheet" href="../pickadate/lib/themes/classic.date.css">
</head>

<body>
  <script src="../jquery/dist/jquery.js"></script>
  <script src="../pickadate/lib/legacy.js"></script>
  <script src="../pickadate/lib/picker.js"></script>
  <script src="../pickadate/lib/picker.date.js"></script>
</body>
