<!DOCTYPE html>


<body>
<link rel="stylesheet" href="/style.css">
<div class='menu' align='right'>

<a href="/">
<img src='/images/makers_logo.png' class="logo" align="left"></img>
</a>
  <ul>
    <li><a href='/sessions/new'>Login</a></li>

  </ul>
</div>



<div class='sign_up_form' align='center'>
<form id='sign_up' method='post' action=''>
  Sign up to MakersBnB
  <p>
<label for='email' align='left'> Email Address  </label>
  <input type="text" id='email' name="email" value="">
  </p>
  <p>
  <label for='password' align='left'> Password </label>
  <input type="text" id='password' name="password" value="">
  </p>
  <p>
    <label for='password_confirmation'> Password confirmation  </label>
  <input type="text" id='password_confirmation' name="password_confirmation" value="">
  </p>
  <p>
  <input type="submit" name="sign_up" value="Sign up">
  </p>
</div>
</body>
