<head>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/classic.css">
  <link rel="stylesheet" href="/css/classic.date.css">

  <script src="/js/jquery.js"></script>
  <script src="/js/legacy.js"></script>
  <script src="/js/picker.js"></script>
  <script src="/js/picker.date.js"></script>
  <script src="/js/jqueryFunctions.js"></script>
</head>

<body>
  <div class='menu' align='right'>
    <img src='/images/makers_logo.png' class="logo" align="left"></img>
    <ul>
      <li>
        <form id="logout_button" action = '/sessions' method="post">
          <input type="hidden" name="_method" value="delete">
          <input id="l_button" type="submit" value="LOGOUT">
        </form>
      </li>
      <li>
        <form id="spaces_button" class='active' action = '/spaces'>
          <input id="s_button" type="submit" value="SPACES">
        </form>
      </li>
      <li>
        <form id="requests_button" action = '/requests'>
          <input id="r_button" type="submit" value="REQUESTS">
        </form>
      </li>
      <li>
        <form id="requests_button" action = '/spaces/new'>
          <input id="r_button" type="submit" value="HOST">
        </form>
      </li>
    </ul>
  </div>
  <div>
    <%= yield  %>
  </div>
</body>
