<body>
  <link rel="stylesheet" href="/style.css">

  <div class='log_in_form' align='center'>
    <form id='log_in' method='post' action='/sessions'>
      <h3>Log in to MakersBnB</h3>
      <p>
        <label for='username'> Username </label>
        <input type="text" id='username' name="username">
      </p>
      <p>
        <label for='password'> Password </label>
        <input type="password" id='password' name="password">
      </p>
      <div>
        <%= flash[:error] %>
      </div>
      <p>
        <input type="submit" id="log_in" value="Login">
      </p>
  </div>
</body>
