<body>
  <link rel="stylesheet" href="/style.css">
<div class='menu' align='right'>

<a href="/">
<img src='/images/makers_logo.png' class="logo" align="left"></img>
</a>
  <ul>
    <li><a class='active' href='/sessions/new'>Login</a></li>

  </ul>
</div>


<div class='log_in_form' align='center'>
<form id='log_in' method='post' action='/sessions'>
  Log in to MakersBnB
  <p>
<label for='username'> Username </label>
  <input type="text" id='username' name="username" value="">
  </p>
  <p>
  <label for='password'> Password </label>
  <input type="text" id='password' name="password" value="">
  </p>
  <input type="submit" id="log_in" value="Login">
  </p>
</div>
</body>
