<body>
  <link rel="stylesheet" href="/style.css">
<div class='menu' align='right'>

<a href="/">
<img src='/images/makers_logo.png' class="logo" align="left"></img>
</a>
  <ul>
    <li><a class='active' href=''>Spaces</a></li>
    <li><a href=''>Requests</a></li>
    <li><a href='/'>Sign out</a></li>
  </ul>
</div>

<h1> List a Space </h1>

<div class="log_in_form">
  <form method="post" action="/spaces">
    Name
    <input type="text" name="name"></input>
    <input type="submit" value="List my Space"></input>
  </form>
</div>
