
<div class="list">
  <h1> List a Space </h1>
</div>
  <div class="log_in_form">

    <form method="post" action="/spaces">
      <label for="name">Name</label>
      <input type="text" name="name">
      <label for="description">Description</label>
      <input type="text" name="description">
      <label for="price">Price</label>
      <input type="text" name="price">
      <button class='background' type="submit" value="List my Space">
        List my space </button>
    </form>
  </div>
