

  <h1> List a Space </h1>

  <div class="log_in_form">
    <form method="post" action="/spaces">
      <label for="name">Name</label>
      <input type="text" name="name">
      <label for="description">Description</label>
      <input type="text" name="description">
      <label for="price">Price</label>
      <input type="text" name="price">
      <input type="submit" value="List my Space">
    </form>
  </div>
