<body>
  <link rel="stylesheet" href="/style.css">
<div class='menu' align='right'>

<a href="/">
<img src='/images/makers_logo.png' class="logo" align="left"></img>
</a>
  <ul>
    <li><a href='/spaces'>Spaces</a></li>
    <li><a class='active' href=''>Requests</a></li>
    <li><a href='/'>Sign out</a></li>
  </ul>
</div>

<h1>Requests</h1>
<table>
  <tr>
    <th>Requests I've made</th>
    <th>Requests I've received</th>
  </tr>
  <tr>
    <td><%= @request1.booking_date %></td>
    <td></td>
  </tr>
</table>

</body>
