<body>
  <link rel="stylesheet" href="/style.css">
<div class='menu' align='right'>

<a href="/">
<img src='/images/makers_logo.png' class="logo" align="left"></img>
</a>
  <ul>
    <li><a class='active' href=''>Spaces</a></li>
    <li><a href=''>Requests</a></li>
    <li><a href='/'>Sign out</a></li>
  </ul>
</div>

<h1> Book a space </h1>
<form action="/spaces/new">
<input type="submit" id="list_a_space" value="List a Space"></input>
</form>

<% @spaces.each do |space|%>
<%= space.name %>
<% end %>
