<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class='menu' align='right'>
  <a href="/">
    <img src='/images/makers_logo.png' class="logo" align="left"></img>
  </a>
  <ul>
    <li>
      <form action = '/sessions/new'>
        <input class='active' type="submit" value="Login">
      </form>
    </li>
  </ul>
</div>

<div>
  <%= yield  %>
</div>
</body>
