<head>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class='menu' align='right'>
  <img src='/images/makers_logo.png' class="logo" align="left"></img>
  <ul>
    <li>
      <form id="login_button" action = '/sessions/new'>
        <input id="li_button" type="submit" value="LOGIN">
      </form>
    </li>
    <li>
      <form action = '/'>
        <input id="li_button"type="submit" value="SIGN UP">
      </form>
    </li>
  </ul>
</div>
<div>
  <%= yield  %>
</div>
</body>
