

  body {
      font: normal 15px Verdana, sans-serif;
  }

  .sign_up_form {
  width: 400px;
  margin: auto;
  clear: both;
  border-style: solid;
  padding-right: 6px;

}

.sign_up_form input {
  width: 100%;
  clear: both;
  align: center;

}

.log_in_form {
width: 400px;
margin: auto;
clear: both;
border-style: solid;
}

.log_in_form input {
width: 100%;
clear: both;
}

.logo {
  width: 80px;
  height: 80px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 80;
}

#spaces_button {
  border: none;
  height: -webkit-fill-available;
}

#requests_button {
  border: none;
  height: -webkit-fill-available;
}
#logout_button {
  border: none;
  height: -webkit-fill-available;
}

#s_button {
  height: -webkit-fill-available;
  width: 100;
  border: none;
  font-size: 20;
  height: 80px;
  background-color: #808080;
  color: white;
  border-width: thin;
  border-left: solid;
}
#r_button {
  height: -webkit-fill-available;
  width: 100;
  border: none;
  font-size: 20;
  height: 80px;
  background-color: #808080;
  color: white;
  border-width: thin;
  border-left: solid;
}
#l_button {
  height: -webkit-fill-available;
  width: 100;
  border: none;
  font-size: 20;
  height: 80px;
  background-color: #808080;
  color: white;
}

li {
    float: right;
    height: -webkit-fill-available;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #808080;
}
