  body {
      font: normal 15px Verdana, sans-serif;
      background-color: white;
  }

  .sign_up_form {
  width: 400px;
  margin: 0 auto;
  clear: both;
  border-style: solid;
  padding: 20px;
  margin-top: 30px;
}

.sign_up_form input {
  width: 100%;
  clear: both;
  align: center;

}

.sign_up_form label {
  width: 100%;
  clear: both;
  align: left;

}

.log_in_form {
  width: 400px;
  margin: 0 auto;
  clear: both;
  border-style: solid;
  padding: 20px;
  margin-top: 30px;
}

.log_in_form input {
width: 100%;
clear: both;
}

.logo {
  width: 80px;
  height: 80px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 80;
}

#spaces_button {
  border: none;
  height: -webkit-fill-available;
}

#requests_button {
  border: none;
  height: -webkit-fill-available;
}
#logout_button {
  border: none;
  height: -webkit-fill-available;
}

#login_button {
  border: none;
  height: -webkit-fill-available;
}

#li_button {
  height: -webkit-fill-available;
  width: 100;
  border: none;
  font-size: 15;
  height: 80px;
  background-color: #808080;
  color: white;
  border-left: solid;
  border-width: thin;
}

#s_button {
  height: -webkit-fill-available;
  width: 100;
  border: none;
  font-size: 15;
  height: 80px;
  background-color: #808080;
  color: white;
  border-left: solid;
  border-width: thin;
}
#r_button {
  height: -webkit-fill-available;
  width: 100;
  border: none;
  font-size: 15;
  height: 80px;
  background-color: #808080;
  color: white;
  border-left: solid;
  border-width: thin;
}

#l_button {
  height: -webkit-fill-available;
  width: 100;
  border: none;
  font-size: 15;
  height: 80px;
  background-color: #808080;
  color: white;
  border-left: solid;
  border-width: thin;
}

li {
    float: right;
    height: -webkit-fill-available;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #808080;
}

#space {
  background-color: #dae1e8;
  width: 60%;
  border: double;
  padding-top: 10px;
  margin-bottom: 10px;
  border-color: slategray;
}

#sign_up_table {
  padding: 15px;
}
